@use './main.scss';

.page {
  text-align: center;

  h1 {
    margin: 1em;
  }

  main {
    width: main.$page-width;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    background-color:aquamarine;
  }
}
